<h1>Hi!</h1>

<p>Thank you for registering! We're excited to see you and your kids at this year's MyEO Nextgen Manila!</p>

<p>We will be e-mailing you occasionally, to provide important information and reminders about the upcoming event. For now, please take a look at the payment options below to confirm your participation:</p>

<h3>Payment options:</h3>
<p>If paying in Philippine peso, please use the exchange rate of USD $1.00 = Php 47.00.</p>

<p>Please take note of the following rates and deadlines: </p>
<ul>
  <li>Until January 28, 2016- Regular early bird rate of $1,300.00.</li>
  <li>After January 28, 2016- $1,500.00</li>
</ul>

<h4>DEPOSIT</h4>

<b>Peso Account</b>
<pre>
  Bank: Metrobank
  Account Name: Young Entrepreneurs' Organization of the Philippines, Inc.
  Account Number: 245-7-245-81211-2
</pre>

<b>Dollar Account</b>
<pre>
  Bank: Metrobank
  Account Name: Young Entrepreneurs' Organization of the Philippines, Inc.
  Account Number:  245-2-24500424-3 
</pre>

<p>Please send a scanned copy of the deposit slip to daphne.padasas@eophilippines.com. Otherwise, your reservation will not be confirmed.</p>

<h4>DELIVERY</h4>

<p>Please deliver payment to:</p>
<code>#25 Annapolis Street, Unit 203 Greenhills Court Condominium, San Juan</code>

<p>For any other questions or concerns, please feel free to contact Daphne via:</p>
<p>daphne.padasas@eophilippines.com, 09167690707</p>