<div class="block__container faq__content">
  <div class="block">
    <p class="question">What is this program about? Why should I send my child for this and not any other available program?</p>
    <p>This program is specially designed for EO, and is not available to the public. Many of the activities involve EO Members as mentors and case studies.</p>

    <p class="question">What kind of activities? What will the children be doing?</p>
    <p>Much of the program consists of experiential learning, with minimal lectures. The program has a lot of learning and competitive games, so that the children learn in an exciting and fun way.</p>

    <p>They have an opportunity to set up their own business and compete against each other, as if in the real world.</p>

    <p class="question">How would it benefit them?</p>
    <p>This program does not only benefit the children but also the parents.</p>

    <%= image_tag "faq/workshop.png", class: "lb-image" %>
  </div>
</div>