<form class="registration__form" id="KidRegistration">

    <label for="lname">Last Name:</label><input id="lname" type="text"/>
    <label for="fname">First Name:</label><input id="fname" type="text"/>
    <label for="nname">Nickname:</label><input id="nname" type="text"/>
    <label for="nname">Birthdate:</label><input id="nname" type="text"/>
    <label for="email">E-mail Address:</label><input id="email" type="email"/>

    <div class="registration__form--checkbox">
        <div class="checkbox__inner">
            <h3>Hobbies and interests, check one:</h3>
            <div class="cb__container">
                <label for="cbTV">TV</label>
                <input id="cbTV" type="radio" value="TV" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbFilm">Film</label>
                <input id="cbFilm" type="radio" value="Film" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbVideoGames">Video Games</label>
                <input id="cbVideoGames" type="radio" value="Video Games" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbMusic">Music</label>
                <input id="cbMusic" type="radio" value="Music" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbSports">Sports</label>
                <input id="cbSports" type="radio" value="Sports" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbFashion">Fashion</label>
                <input id="cbFashion" type="radio" value="Fashion" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbFood">Food</label>
                <input id="cbFood" type="radio" value="Food" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbTechnology">Technology</label>
                <input id="cbTechnology" type="radio" value="Technology" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbScience">Science</label>
                <input id="cbScience" type="radio" value="Science" name="hobbies" />
            </div>

            <div class="cb__container">
                <label for="cbOther">Other</label>
                <input id="cbOther" type="radio" value="Other" name="hobbies" />
            </div>
        </div>
    </div>

    <div class="registration__form--checkbox">
        <div class="checkbox__inner">
            <h3> Shirt Size:</h3>
            <div class="cb__container">
                <label for="cbXS">XS (17.5" at the chest, 24" length)</label>
                <input id="cbXS" type="radio" name="shirtSizes" value="XS" />
            </div>

            <div class="cb__container">
                <label for="cbS">S (18.5" at the chest, 25" length)</label>
                <input id="cbS" type="radio" name="shirtSizes" value="S" />
            </div>

            <div class="cb__container">
                <label for="cbM">M (19.5" at the chest, 26" length)</label>
                <input id="cbM" type="radio" name="shirtSizes" value="M" />
            </div>

            <div class="cb__container">
                <label for="cbL">L (20.5" at the chest, 27" length)</label>
                <input id="cbL" type="radio" name="shirtSizes" value="L" />
            </div>

            <div class="cb__container">
                <label for="cbXL">XL (21.5" at the chest, 27.5" length)</label>
                <input id="cbXL" type="radio" name="shirtSizes" value="XL" />
            </div>

            <div class="cb__container">
                <label for="cbXXL">XXL (23" at the chest, 28" length)</label>
                <input id="cbXXL" type="radio" name="shirtSizes" value="XXL" />
            </div>

            <div class="cb__container">
                <label for="cbXXXL">XXXL (28.5" at the chest, 28.5" length)</label>
                <input id="cbXXXL" type="radio" name="shirtSizes" value="XXXL" />
            </div>
        </div>
    </div>

    <label for="medCondition">Any medical condition we should be aware of?</label><textarea id="medCondition"></textarea>
    <label for="dietary">Any special dietary requirements we should know about??</label><textarea id="dietary"></textarea>

    <div class="button__container">
        <button type="submit" class="registration__form--button"><span>Submit</span></button>
        <button type="submit" class="registration__form--button"><span data-target="reset">Fill out Next Form</span></button>
    </div>
</form>