<%= form_for member, url: do_register_path, html: { class: "registration__form isActive" } do |f| %>
  <p class="registration__form-message">
    <span>Reminder:</span><br />
    Event is only open to children and relatives of EO, YPO, and EO Accelerator members.
  </p>

  <% unless f.object.errors.full_messages_for(:last_name).blank? %>
    <p class="error"><%= f.object.errors.full_messages_for(:last_name).join(", ") %></p>
  <% end %>
  <%= f.label :last_name %>
  <%= f.text_field :last_name %>

  <% unless f.object.errors.full_messages_for(:first_name).blank? %>
    <p class="error"><%= f.object.errors.full_messages_for(:first_name).join(", ") %></p>
  <% end %>
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>

  <% unless f.object.errors.full_messages_for(:member_number).blank? %>
    <p class="error"><%= f.object.errors.full_messages_for(:member_number).join(", ") %></p>
  <% end %>
  <%= f.label :member_number %>
  <%= f.text_field :member_number %>

  <% unless f.object.errors.full_messages_for(:email).blank? %>
    <p class="error"><%= f.object.errors.full_messages_for(:email).join(", ") %></p>
  <% end %>
  <%= f.label :email %>
  <%= f.email_field :email %>

  <% unless f.object.errors.full_messages_for(:contact_number).blank? %>
    <p class="error"><%= f.object.errors.full_messages_for(:contact_number).join(", ") %></p>
  <% end %>
  <%= f.label :contact_number %>
  <%= f.text_field :contact_number %>

  <div class="input-group">
    <% unless f.object.errors.full_messages_for(:payment_option).blank? %>
      <p class="error"><%= f.object.errors.full_messages_for(:payment_option).join(", ") %></p>
    <% end %>
    <%= f.label :payment_option %>
    <%= f.select :payment_option, ["Bank Deposit", "Cash"] %>
  </div>

  <div class="input-group">
    <!-- checkbox -->
    <div class="terms">
      <% unless f.object.errors.full_messages_for(:i_agree).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:i_agree).join(", ") %></p>
      <% end %>
      <label><%= f.check_box :i_agree %> I agree to the terms specified in the <span class="waiver-toggle js-toggle-waiver">waiver and permission</span> form.</label>
      <div id="waiver" class="waiver">
        <h3>Waiver and Permission</h3>
        <p>This waiver and permission form serves as notice that I am allowing my teen/s to join the MyEO NextGen Bootcamp 2.0. In the event that he/she becomes ill or sustains injury or if any untoward accident happens while participating, I, as legal parent or guardian, understand that every effort will be made to contact me. In the event that I cannot be reached, I hereby give my permission to the physician selected to rescue, provide proper treatment. </p>
        <p>I also release EO Philippines, Management Strategies Inc, and all staff and volunteers involved in the MyEO NextGen Bootcamp from any liability in such situations. </p>
        <p>I hereby assume all of the risks of participating in the MyEO NextGen Bootcamp 2. I certify that my child is physically fit and have not been advised to not participate by a qualified medical professional. I certify that there are no health-related reasons or problems which hinder my child’s participation in the activities. </p>
      </div>
    </div>
  </div>

  <div class="participants" %>
    <%= f.fields_for :participants do |pf| %>
      <%= render "shared/reg/participant_form", f: pf %>
    <% end %>
  </div>

  <div class="button__container">
    <button type="submit" class="registration__form--button"><span>Submit</span></button>
    <button class="registration__form--button js-add-participant"><span>Add Another Child</span></button>
  </div>
<% end %>

<%= form_for Member.new, url: "#" do |f| %>
  <div class="js-participant-field hidden">
    <%= f.fields_for :participants, Participant.new do |pf| %>
      <%= render "shared/reg/participant_form", f: pf %>
    <% end %>
  </div>
<% end %>