<div class="participant__fields">
  <h3 class="participant__display-name">
    <span class="display-name js-participant-display-name js-toggle-fields"
        data-last-name="<%= f.object.last_name %>"
        data-first-name="<%= f.object.first_name %>">
        <% if [f.object.first_name, f.object.last_name].all?(&:blank?) %>
            Child Name
        <% else %>
            <%= f.object.first_name %> <%= f.object.last_name %>
        <% end %>
    </span>
    <span class="icon js-delete">x</span>
    <span class="icon js-toggle-indicator js-toggle-fields">v</span>
  </h3>

  <div class="js-display-fields participant__fields--container">
    <% unless f.object.errors.full_messages_for(:last_name).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:last_name).join(", ") %></p>
    <% end %>
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "js-participant-last-name" %>

    <% unless f.object.errors.full_messages_for(:first_name).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:first_name).join(", ") %></p>
    <% end %>
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "js-participant-first-name" %>

    <% unless f.object.errors.full_messages_for(:nickname).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:nickname).join(", ") %></p>
    <% end %>
    <%= f.label :nickname %>
    <%= f.text_field :nickname, class: "js-participant-nick-name" %>

    <% unless f.object.errors.full_messages_for(:birthdate).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:birthdate).join(", ") %></p>
    <% end %>
    <%= f.label :birthdate %>
    <%= f.text_field :birthdate %>

    <% unless f.object.errors.full_messages_for(:email).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:email).join(", ") %></p>
    <% end %>
    <%= f.label :email %>
    <%= f.email_field :email %>

    <div class="registration__form--checkbox">
        <div class="checkbox__inner">
            <% unless f.object.errors.full_messages_for(:hobbies).blank? %>
                <p class="error"><%= f.object.errors.full_messages_for(:hobbies).join(", ") %></p>
            <% end %>
            <h3><%= f.label :hobbies %></h3>
            <div class="cb__container">
                <label> TV <%= f.radio_button :hobbies, "TV" %></label>
            </div>

            <div class="cb__container">
                <label> Film <%= f.radio_button :hobbies, "Film" %></label>
            </div>

            <div class="cb__container">
                <label> Video Games <%= f.radio_button :hobbies, "Video Games" %></label>
            </div>

            <div class="cb__container">
                <label> Music <%= f.radio_button :hobbies, "Music" %></label>
            </div>

            <div class="cb__container">
                <label> Sports <%= f.radio_button :hobbies, "Sports" %></label>
            </div>

            <div class="cb__container">
                <label> Fashion <%= f.radio_button :hobbies, "Fashion" %></label>
            </div>

            <div class="cb__container">
                <label> Food <%= f.radio_button :hobbies, "Food" %></label>
            </div>

            <div class="cb__container">
                <label> Technology <%= f.radio_button :hobbies, "Technology" %></label>
            </div>

            <div class="cb__container">
                <label> Science <%= f.radio_button :hobbies, "Science" %></label>
            </div>

            <div class="cb__container">
                <label> Other <%= f.radio_button :hobbies, "Other" %></label>
            </div>
        </div>
    </div>

    <div class="registration__form--checkbox">
        <div class="checkbox__inner">
            <% unless f.object.errors.full_messages_for(:shirt_size).blank? %>
                <p class="error"><%= f.object.errors.full_messages_for(:shirt_size).join(", ") %></p>
            <% end %>
            <h3><%= f.label :shirt_size %></h3>
            <div class="cb__container">
                <label> XS (17.5" at the chest, 24" length) <%= f.radio_button :shirt_size, "XS" %></label>
            </div>

            <div class="cb__container">
                <label> S (18.5" at the chest, 25" length) <%= f.radio_button :shirt_size, "S" %></label>
            </div>

            <div class="cb__container">
                <label> M (19.5" at the chest, 26" length) <%= f.radio_button :shirt_size, "M" %></label>
            </div>

            <div class="cb__container">
                <label> L (20.5" at the chest, 27" length) <%= f.radio_button :shirt_size, "L" %></label>
            </div>

            <div class="cb__container">
                <label> XL (21.5" at the chest, 27.5" length) <%= f.radio_button :shirt_size, "XL" %></label>
            </div>

            <div class="cb__container">
                <label> XXL (23" at the chest, 28" length) <%= f.radio_button :shirt_size, "XXL" %></label>
            </div>

            <div class="cb__container">
                <label> XXXL (28.5" at the chest, 28.5" length) <%= f.radio_button :shirt_size, "XXXL" %></label>
            </div>
        </div>
    </div>

    <% unless f.object.errors.full_messages_for(:medical_condition).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:medical_condition).join(", ") %></p>
    <% end %>
    <%= f.label :medical_condition %>
    <%= f.text_area :medical_condition %>

    <% unless f.object.errors.full_messages_for(:diet).blank? %>
        <p class="error"><%= f.object.errors.full_messages_for(:diet).join(", ") %></p>
    <% end %>
    <%= f.label :diet %>
    <%= f.text_area :diet %>
  </div>
</div>