<form class="registration__form isActive" id="PaymentForm">
    <p class="registration__form-message">
      <span>Reminder:</span><br />
      Event is only open to children and relatives of EO, YPO, and EO Accelerator members.
    </p>
    <label for="lname">Last Name:</label><input id="lname" type="text"/>
    <label for="fname">First Name:</label><input id="fname" type="text"/>
    <label for="member">Referred By:</label><input id="member" type="text"/>
    <label for="email">E-mail Address:</label><input id="email" type="email"/>
    <label for="contact">Contact Number:</label><input id="contact" type="text"/>

    <div class="input-group">
      <label for="kids">How many kids are you signing up for?</label><input id="kids" type="number" />
    </div>

    <div class="input-group">
      <label for="payment">Choose payment option</label>
      <select id="payment">
        <option>Bank Deposit</option>
        <option>Cash</option>
      </select>
    </div>

    <div class="button__container">
      <button type="submit" class="registration__form--button"><span data-target="#ThankYouMsg">Next</span></button>
    </div>
</form>