<div class="registration__form thankyou isActive" id="ThankYouMsg">
    <p class="registration__form-message">
        Thanks for participating! We’re sure your teens will have an amazing experience!
    </p>

    <p class="registration__form-message">
        Please check your e-mail for further instructions on how you can finalise the payment process.
    </p>

    <p class="registration__form-message">
        We will also be e-mailing you in the weeks before the event for final reminders and other updates.
    </p>

    <!-- <p class="registration__form-message">
        For now, click next to fill out the <br /><span>CAMPERS’ INFORMATION SHEET</span>
    </p>

    <div class="button__container">
        <button type="submit" class="registration__form--button"><span data-target="#KidRegistration">Next</span></button>
    </div> -->
</div>