<%= render partial: "shared/nav" %>
<div class="contact__container">
  <h1 class="registration__header">Register</h1>

  <div class="block__container">
    <div class="block one-half">
      <%= render partial: "shared/reg/member_form", locals: { member: @member } %>
      <% render partial: "shared/reg/payment" %>
      <% render partial: "shared/reg/thankyou" %>
      <% render partial: "shared/reg/kidReg" %>
    </div>

    <div class="block one-half">
      <%= image_tag "register-image.jpg", class: "register__image" %>
    </div>
  </div>

</div>