<%= render partial: "shared/nav" %>
<div class="faq__container">

  <div class="block__container">

    <div class="block one-third faq__block-first">
      <div class="faq__inner-block">
        <div class="faq__image"><%= image_tag 'faq/faq-header.jpg' %></div>
        <p>Frequently Asked Questions</p>
        <div class="faq__image"><%= image_tag 'faq/faq-hand.jpg' %></div>
      </div>
    </div>

    <ul class="block two-thirds faq__block-list">

      <li class="faq__block-list-item">
        <div class="faq__inner-block">
          <p>Who What When Where</p>
          <button data-target="workshopModal" class="faq__button">+</button>
        </div>
        <%= render partial: "shared/faq/wwww" %>
      </li>

      <li class="faq__block-list-item">
        <div class="faq__inner-block">
          <p>What's Going to Happen?</p>
          <button data-target="miscModal" class="faq__button">+</button>
        </div>
        <%= render partial: "shared/faq/happen" %>
      </li>

      <li class="faq__block-list-item">
        <div class="faq__inner-block">
          <p>Attendees</p>
          <button data-target="attendeesModal" class="faq__button">+</button>
        </div>
        <%= render partial: "shared/faq/attendees" %>
      </li>

      <li class="faq__block-list-item">
        <div class="faq__inner-block">
          <p>Transportation and Accomodation</p>
          <button data-target="transportModal" class="faq__button">+</button>
        </div>
        <%= render partial: "shared/faq/transport" %>
      </li>

      <li class="faq__block-list-item">
        <div class="faq__inner-block">
          <p>Safety and Security</p>
          <button data-target="safetyModal" class="faq__button">+</button>
        </div>
        <%= render partial: "shared/faq/safety" %>
      </li>

      <li class="faq__block-list-item">
        <div class="faq__inner-block">
          <p>Drop Off and Pick Up</p>
          <button data-target="dropOffModal" class="faq__button">+</button>
        </div>
        <%= render partial: "shared/faq/drop_off" %>
      </li>

    </ul>

</div>