<%= render partial: "shared/nav" %>
<div class="landing-page__container block__container">
  <div class="block one-half landing-page__left">
    <%= image_tag "landing-bizwars.png", title: "MY EO Next Gen Manila", class: "landing-page__logo" %>
    <div class="landing-page__copy">
      <p>Give your teens an eye-opening, mind-blowing camp experience this spring break!</p>
      <a href="#learnmore" class="learn-more"><span>Learn More</span></a>
    </div>
  </div>
</div>
<hr class="landing__divider"/>
<div id="learnmore" class="landing-page__container block__container">
  <div class="block two-thirds">
    <div class="landing__about-info">
      <h1>What is My EO Next Gen Manila?</h1>
      <p>MyEO NextGen Manila is a 4-day entrepreneurs camp for teenagers where the next generation entrepreneurs will get the opportunity to:</p>
      <ul>
        <li>learn and hone exciting new skills on collaboration, innovation, and personal leadership</li>
        <li>rethink and reinvent ways of developing innovative products</li>
        <li>nurture the entrepreneurial spirit</li>
        <li>make new friends from all over the globe</li>
      </ul>
      <p>This year’s Biz Wars theme will see teams of campers competing against each other as they learn and put into practice the skills needed to run a successful pop-up business!</p>
    </div>

    <div class="landing__about-info">
      <%= image_tag "about-info/attendees.jpg" %>
      <div class="landing__about-info--copy">
        <h2>Who is this for?</h2>
        <p>Teenagers aged 13-19 years old who are children of EO, YPO, and EO Accelerator members and their relatives.</p>
      </div>
    </div>

    <div class="landing__about-info">
      <%= image_tag "about-info/location.jpg" %>
      <div class="landing__about-info--copy">
        <h2>When and Where</h2>
        <p><em>31 March to 3 April, 2016</em><br>New World Hotel Makati</p>
      </div>
    </div>

    <div class="landing__about-info">
      <%= image_tag "about-info/fees.jpg" %>
      <div class="landing__about-info--copy">
        <h2>Fees and Payments</h2>
        <p>U$D 1,500 per participant</p>
      </div>
    </div>

    <div class="landing__about-info">
      <%= image_tag "about-info/sign-up.jpg" %>
      <div class="landing__about-info--copy">
        <h2>For inquiries...</h2>
        <p>Contact <a href="mailto:inquiries@myeonextgen.com">inquiries@myeonextgen.com</a></p>
      </div>
      <br />
      <br />
      <br />
      <a href="itinerary.html" class="learn-more"><span>View Itinerary</span></a>
    </div>

  </div>
</div>