<%= render partial: "shared/nav" %>
<div class="itinerary__container">
  <h1 class="itinerary__header">Itinerary</h1>
  <p>Here’s a sneak peek of what to expect!</p>

  <div class="block__container">

      <div class="itinerary__row">
        <div class="itinerary__inner-row">
          <div class="block one-third">
            <h1>Day 1</h1>
            <h2>Setting the Stage</h2>
            <p>What is this BootCamp all about?  On our first day, we meet our fellow campers, discover new things about ourselves, and get introduced to the challenge that awaits us.</p>
            <p>Being able to manage a business takes skilful planning and knowing who and what talents are available to us.</p>
          </div>
          <div class="block two-thirds"><%= image_tag 'itinerary/day-1-2016.jpg' %></div>
        </div>
      </div>

    <div class="itinerary__row">
        <div class="itinerary__inner-row">
          <div class="block one-third">
            <h1>Day 2</h1>
            <h2>What's Cooking?</h2>
            <p>We begin with a special tour of establishments in the area, exploring and learning from the professionals to gain inspiration from their success and how their ability to overcome their obstacles.</p>

            <p>We take on essential tools, techniques through interactive modules and guest speakers that will help build our confidence in running our businesses.  Ending the day, we laugh as we learn how to create a positive way to grow ideas and solve problems.</p>
          </div>
          <div class="block two-thirds"><%= image_tag 'itinerary/day-2-2016.jpg' %></div>
        </div>
    </div>

    <div class="itinerary__row">
        <div class="itinerary__inner-row">
          <div class="block one-third">
            <h1>Day 3</h1>
            <h2>Agile Leadership</h2>
            <p>This day is about being mentally and physically agile to help you succeed, going beyond your perceived limitations and working with the support of your team.</p>
            <p>Applying your leadership, you will work with each other and with coaches to help prepare you for the final challenge.</p>
          </div>
          <div class="block two-thirds"><%= image_tag 'itinerary/day-3-2016.jpg' %></div>
        </div>
    </div>

    <div class="itinerary__row">
        <div class="itinerary__inner-row">
          <div class="block one-third">
            <h1>Day 4</h1>
            <h2>Execution Challenge</h2>
            <p>Putting it all together, your team will run your business and earn real money as you deal with real customers!</p>
            <p>Through friendly competition, earn the  honour of being the most profitable business among your peers</p>
          </div>
          <div class="block two-thirds"><%= image_tag 'itinerary/day-4-2016.jpg' %></div>
        </div>
    </div>
</div>