<%= render partial: "shared/nav" %>
<div class="reminders__container">
  <h1 class="reminders__header">Reminders</h1>
  <h2>Foreign Participants</h2>
  <ul>
    <li>Affidavit of consent from the parents (approved by the embassy)</li>
  </ul>
  <br />
  <br />
  <%= image_tag 'coming-soon.jpg', class: "coming-soon-img" %>
</div>