A new member has registered:

Member Info
===========

Last Name: <%= @member.last_name %>
First Name: <%= @member.first_name %>
Referred By: <%= @member.member_number %>
Email: <%= @member.email %>
Contact Number: <%= @member.contact_number %>
Payment Option: <%= @member.payment_option %>


Participants
============

<% @participants.each do |participant| %>
Last Name: <%= participant.last_name %>
First Name: <%= participant.first_name %>
Nickname: <%= participant.nickname %>
Birthdate: <%= participant.birthdate %>
Email: <%= participant.email %>
Hobbies: <%= participant.hobbies %>
Shirt Size: <%= participant.shirt_size %>
Medical Condition: <%= participant.medical_condition %>
Diet: <%= participant.diet %>

-----
<% end %>