<div class="block__container faq__content">
  <div class="block">
    <p class="question">ATTENDEES</p>
    <p>MyEO Next Gen Manila 2016 is open to teens of EO members and sponsored relatives/friends, 13-18 years old. Participants will be grouped by age bracket and there will be many opportunities throughout the program for them to interact with other groups.</p>

    <%= image_tag "faq/attendees.png", class: "lb-image" %>
  </div>
</div>