<div class="block__container faq__content">
    <div class="block">
        <p class="question">WHAT TO BRING</p>
        <p>The following is a list of items to needed for the BootCamp.</p>
        <ul class="item-list">
            <li class="item">4 sets of clothes for daytime activities</li>
            <li class="item">2 sets of clothes for physical activities Running shoes or sneakers</li>
            <li class="item">Cap, hat or visor</li>
            <li class="item">Swimming attire and fit-flops</li>
            <li class="item">Light rain jacket</li>
            <li class="item">Sunblock and insect repellant</li>
            <li class="item">Personal medication, vitamins</li>
            <li class="item">Eyeglasses, contact lenses and cleaning solution (if needed) Refillable water bottle</li>
            <li class="item">Mobile phone with charging cable</li>
            <li class="item">Small laptop or tablet (for web research and/or presentations; having Microsoft Office/Apple iWork installed is recommended)</li>
            <li class="item">Props, costumes, musical instruments, etc to help showcase Camper’s unique skills on talent night (optional)</li>
            <li class="item">Pocket money (Php 2,000) for souvenirs, personal snacks, etc.</li>
        </ul>
    </div>
</div>