<div class="block__container faq__content">
    <div class="block">
        <p class="question">DROP OFF + PICK UP</p>
        <p>Registration on Thursday 31 March begins at 7:30am at the Glass House, Mezzanine Floor of the New World Hotel. Parking is available at the hotel or at the Greenbelt Malls fronting the venue. Please come early to give time to register and check-in luggage. By 8:30 parents, will say goodbye to their teens and leave them in our capable hands.</p>
        <p>The next time you will see them will be at our open house at the Legaspi Village Sunday Market on 3 April from 7:00am to 12:00nn. Family and friends are welcome to witness the Campers in action. Participants will be presenting their projects starting 9:00am. The Legaspi Village Sunday Market is located in the Legaspi Open Parking, Legaspi cor. VA Rufino Streets, Legaspi Village Makati.</p>
        <p>Street parking is available and do come early as slots tend to fill up quickly.</p>
        <p>Finally, parents are welcome to join us for coffee at 3:00pm at the Ballroom Foyer back at the New World Hotel and celebrate the Awarding and Closing Ceremony at 3:30pm in the New World Ballroom. Next Gen Manila 2016 officially ends at 4:30pm.</p>
    </div>
</div>