<div class="block__container faq__content">
    <div class="block">
        <p class="question">WHAT’S GOING TO HAPPEN</p>
        <p>Our Next Gen Campers will have many things in store for them in the next 4 days. Our objectives our simple - develop entrepreneurial skills, provide networking opportunities, and have a fun time doing both.</p>
        <p>In participating in the BootCamp, your teens will gain knowledge, skills and mindsets needed to be successful entrepreneurs. We will achieve this through interactive workshop sessions, special guest speakers and coaching opportunities with people already in the business. Each day will have a specific theme and sessions that progressively grow, building up on each other. They will then apply this knowledge in the mini-challenges throughout the 4 days, leading up to the Final Business Challenge that awaits them on our last day. Mission and vision, strategic thinking, branding, communication, results focus and leadership are only some of the key insights our attendees will take back with them after Next Gen.</p>
        <p>Aside from opening their minds to new information we also want to open our participant’s souls - to creating lasting bonds among our future entrepreneurs. Throughout the day, participants will get together and work on given tasks, helping them learn a bit more about each other every time. And every evening, we will have less formal activities to give the entire team an opportunity to relax, make new friends and hangout.</p>
        <p>Our job is to make your teens feel they’ve gotten the most value from their 4 days at Next Gen Manila.</p>

        <%= image_tag "faq/workshop.png", class: "lb-image" %>
    </div>
</div>