<div class="block__container faq__content">
  <div class="block">
    <p class="question">Safety + Security</p>
    <p>The safety of our attendees is our top priority. We will be having an onsite emergency medical technician (EMT) staying with us in the Hotel for the entire duration of the BootCamp. Our EMT will work in coordination with the New World Hotel clinic and emergency services in the Legaspi Village community and Makati Medical Centre, so should we require any assistance, we’ve got it covered. Additionally, we are employing a security team to help our program Marshals watch over our participants particularly when we step out of the venue for activities or dining out.</p>
    <p>If you haven’t yet filled out or submitted the registration forms and medical questionnaire, please do so prior to the start of the program. We will have copies available during registration on the 31 March just in case.</p>

        <%= image_tag "faq/security.png", class: "lb-image" %>
  </div>
</div>