<div class="block__container faq__content">
  <div class="block">
    <p class="question">TRANSPORT + ACCOMODATIONS</p>
    <p>Transportation to and from the BootCamp will be on the attendees expense. Participants will have comfortable triple-sharing accommodations at the New World Hotel. All meals for the duration of the program will be covered by us. And on occasion we step out of the hotel for activities, whether on foot or in vans, we will provide the necessary transportation, supervision and security.</p>

    <%= image_tag "faq/trans-and-acc.png", class: "lb-image" %>
  </div>
</div>