<div class="block__container faq__content">
  <div class="block">
    <p class="question">WHO WHAT WHEN WHERE</p>
    <p>MyEO Next Gen Manila 2016 is a 4-day Entrepreneurs Bootcamp open to teens of EO members from ages 13-18.</p>
    <p>It is an exciting program where participants learn and apply essential business management, communication and leadership skills as they collaborate with each other and with industry professionals and EO guest coaches.</p>
    <p>Next Gen will be held at the New World Hotel in Makati, Philippines from 31 March to 3 April 2016.</p>
  </div>
</div>