
.info__block {
    padding: 1rem;
    border: 4px dotted $primary-color;
    height: 100%;

    img {
        padding: 1rem;
        display: block;
        margin: 0 auto;
        max-height: 50%;
        margin-bottom: 1rem;
    }
}

.about-info__block {
    // min-height: 400px;
    padding: 1rem;
    background-color: white;
    margin-top: 1rem;
    margin-bottom: 1rem;
    text-align: left;
    line-height: 1.5;
    vertical-align: middle;

    h2 {
        color: $primary-color;
        margin-bottom: 0;
        margin-top: 0;
        line-height: 1.2;
        font-family: $museoSlab;
    }

    ul {
        list-style: none;
    }

    li {
        position: relative;
        &:before {
            font-size: 2rem;
            display: block;
            position: absolute;
            left: -1.5rem;
            top: -1rem;
            margin-right: 2rem;
            content: "•";
            color: $purple; /* or whatever color you prefer */
        }
    }

    em {
        color: $secondary-color;
        font-style: normal;
        font-weight: bold;
        font-size: 1.2em;
    }

    strong {
        color: $primary-color;
    }

    &:nth-child(2n) .info__block {
        border: 4px solid $secondary-color;
    }
}

.about-info {
    // background-color: $primary-color;
    // background-image: image-url('about-info/about-info-bg.jpg');
    background-color: $about-info-bg-color;
    // background-repeat: no-repeat;
    // background-position: center;
    // background-size: cover;
}

.about-info__block--last {
    position: relative;
    padding: 1rem;
    vertical-align: top;
    margin-top: 1rem;
    background-color: white;
    vertical-align: middle;
    .info__block {
        border: none;
    }
    img {
        margin: auto;
        max-height: 100%;

    }
}