
.contact {
    background-color: white;
}

.contact__container .block__container {
    text-align: center;
}

.contact__header-container {
    text-align: center;
}

.registration__form {
    padding: 2rem;
    display: none;

    label {
        display: block;
        color: $darkpurple;
    }

    input[type="text"],
    input[type="email"],
    textarea {
        border: 1px solid $darkpurple;
        display: block;
        font-size: 1rem;
        padding: 0.5rem;
        width: 100%;
        margin-bottom: 1.5rem;
    }

    &.isActive {
        display: block;
    }
}

.registration__form-message {
    font-weight: bold;
    color: $bluegreen;
    span { color: $darkpurple; }
}

.register__image {
    max-width: 100%;
    padding: 2rem;
}

.input-group {
    margin-bottom: 1.5rem;

    label, input {
        display: inline-block;
    }

    label { margin-right: 1rem }

    input {
        border: 1px solid $darkpurple;
        font-size: 1rem;
        padding: 0.5rem;
    }
}

.button__container {
    text-align: center;
}

.registration__form--button {
    background-image: image-url('btn-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: inline-block;

    border: 0;
    padding: 0.5rem;
    font-size: 1.25rem;
    color: white;

    span {
        display: block;
        border: 2px solid white;
        padding: 0.5rem 1.5rem;
    }
}

.thankyou {
    text-align: center;

    p, .button__container {
        max-width: 25rem;
        margin-left: auto;
        margin-right: auto;
    }
}

.registration__form--checkbox {
    background-color: $purple;
    padding: 2rem;
    margin-bottom: 1.5rem;
    h3 {
        margin-top: 0;
    }

    .cb__container {
        border-bottom: 1px solid $darkpurple;
        overflow: auto;
        margin-bottom: 0.5rem;
        &:last-child { margin-bottom: 1rem; }
        input { float: right; margin-top: 0.5rem; margin-right: 5px; }
        label { color: $black; width: 100%; padding: 0.5rem; }
    }
}

.checkbox__inner {
    padding: 1rem 3rem;
    border: 4px dotted white;
}



.participant__fields {
    .participant__display-name {
        cursor: pointer;
        padding: 0.5rem 1rem;
        background-color: $black;
        color: white;
        display: flex;
        .display-name {
            flex-grow: 1;
        }
        &:hover { background-color: lighten($black,10); }
    }

    .participants__fields--container {}
}

.hidden {
    display: none;
}

.waiver-toggle {
    display: inline-block;
    border-bottom: 2px solid $orange;
    cursor: pointer;
    &:hover {
        border-color: darken($orange,10);
        color: darken($orange,10);
    }
}

.waiver {
    padding: 0.5rem 2rem;
    font-size: 0.85rem;
    background-color: lighten($secondary-color,20);
    display: none;
}