
.faq {
    background-color: $faqbg;
}

.faq__content {
    background-color: white;
    text-transform: none;
    margin-top: 1rem;
    display: none;
    p.question { color: $orange }
    p { color: $black }

    &.active {
        display: block;
    }
}

.faq__button {
    color: $darkpurple;
    background-color: white;
    height: 45px;
    width: 45px;
    border-radius: 50%;
    position: absolute;
    right: 2rem;
    border: 0;
    font-size: 2rem;
    top: 2rem;
}

.faq__block-first {
    background-color: $purple;
    text-align: center;
    padding: 1rem;
    margin-bottom: 2rem;
}


.faq__inner-block {
    padding: 2rem;
    border: 4px dashed white;

    .faq__block-list & {
        padding: 1rem;
    }
}

.faq__block-list {
    list-style: none;
    padding-left: 0;
    margin-top: 0;

    li {
        display: block;
        padding: 1rem;
        text-transform: uppercase;
        color: white;
        margin-bottom: 2rem;
        position: relative;

        &:first-child { background-color: $faq1; }
        &:nth-child(2) { background-color: $faq2; }
        &:nth-child(3) { background-color: $faq3; }
        &:nth-child(4) { background-color: $faq4; }
        &:nth-child(5) { background-color: $faq5; }
        &:nth-child(6) { background-color: $faq1; }
    }

    .faq__inner-block > p {
        margin: 0;
        font-size: 1.5rem;
    }
}

.faq__image {
    img {
        max-height: 100%;
    }
}

.lb-image {
    display: none;
    max-width: 200px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3rem;
    margin-bottom: 1rem;
}

.question {
    margin-bottom: 0;
    & + p { margin-top: 0; }
}


// .lb-header {
//     text-transform: uppercase;
//     color: $orange;
//     font-weight: normal;
//     line-height: 1.2;
//     font-size: 2em;
// }

// .lightbox {
//     display: none;
//     margin: auto;
//     position: fixed;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
//     background-color: rgba(black,0.8);
//     padding: 3rem;
//     overflow: hidden;

//     .show--modal & {
//         display: block;
//     }
// }

// body.show--modal {
//     overflow: hidden;
// }

// .lightbox__modal {
//     background-color: white;
//     padding: 1rem;
//     margin: auto;
//     border: 5px solid $darkpurple;
//     position: relative;
//     width: 80%;

//     .block__container {
//         display: none;
//     }

//     .block__container.active {
//         display: block;
//     }
// }

// .close-modal {
//     display: block;
//     height: 2rem;
//     width: 2rem;
//     background-repeat: no-repeat;
//     background-size: contain;
//     background-image: image-url('close-modal.png');
//     position: absolute;
//     top: 1rem;
//     right: 1rem;
//     background-color: transparent;
//     border: none;
// }