
.block__container {
    text-align: justify;
    padding: 2rem;
    font-size: 0.1px;
    &:after {
        content: " ";
        display: inline-block;
        width: 100%;
    }
}

.block {
    display: inline-block;
    vertical-align: top;
    font-size: 1rem;
    text-align: left;
    position: relative;

    .landing-page__container & {
        padding: 2rem;
    }
}

.one-half {
    width: 49%;
}

.one-third {
    width: 32%;
}

.two-thirds {
    width: 65%;
}

.one-fourth {
    width: 24%;
}