.landing-page__container.block__container {
    text-align: center;
}

.landing-page__container .landing-page__left {
    text-align: center;
    background-image: image-url('landing-bg.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-page__logo {
    max-height: 200px;
    margin-top: 2rem;
}

.landing-page__copy {
    text-align: center;
}

.learn-more {
    font-family: $museoSlab;
    background-color: $purple;
    padding: 0.5rem 0.75rem;

    border: none;
    color: white;
    display: inline-block;
    text-decoration: none;

    span {
        display: block;
        padding: 0.25rem 1.5rem;
        border: 1px solid white;
    }


    &:hover {
        background-color: $orange;
    }
}

.landing-page__links {
    text-align: center;

    .base {
        display: none;
    }

    a {
        display: block;
    }
}

.landing__about-info {
    overflow: hidden;
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;

    img {
    max-width: 150px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    ul {
        list-style: none;
    }

    li:before {
        content: '•';
        width: 8px;
        height: 8px;
        margin-right: 1rem;
    }

    h1 {
        color: $orange;
    }

    .landing__about-info--copy {
        display: block;
        margin-left: auto;
        margin-right: auto;
        vertical-align: middle;
        max-width: 75%;
        padding: 2rem;

        h2 {
            color: $orange;
            margin-bottom: 0;
        }

        p {
            margin-top: 0;
        }
    }

    &:first-child {
        margin-top: 0;
    }
}

@media (min-width: $screen-md-min + 1) {
    .learn-more {
        padding: 0.75rem 1rem;
        span {
            padding: 0.5rem 3rem;
        }
    }

    .landing-page__container {
        margin: 0 auto;
        padding: 3rem;
        max-width: 1200px;
        max-height: 935px;
    }

    .landing-page__copy {
        text-align: center;
        width: 55%;
        margin: 0 auto;
    }
}

.landing__divider {
    border: 0;
    border-top: 1px solid lighten($purple,15);
}