/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

@media (max-width: $screen-sm-min) {
  .one-half,
  .one-third,
  .one-fourth {
    width: 100%;
  }

  .itinerary__block {
    .inner__block {
      padding: 0;
      margin-bottom: 4rem;
    }

    img {
      max-height: 400px;
      display: inline-block;
    }
  }

  // .faq__block {
  //   height: 300px;
  // }

  // .faq__image {
  //   height: 120px;
  // }

  .reminders__header {
    padding: 0 1rem;
  }
}

@media (max-width: $screen-md-min) {
  .two-thirds {
    width: 100%;
  }

  .main-nav {
    height: auto;

    ul {
      position: relative;
      width: 100%;
      top: 0;
    }
  }

  .faq__block {
    padding: 1rem;
  }

  .contact__header-container img {
    display: none;
  }

  .lb-header {
    margin: 0;
    font-size: 1.5rem;
  }

  .lightbox__modal {
    width: 100%;
    padding: 0.5rem;
    font-size: 80%;

    .block__container {
      padding: 0.5rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .lightbox {
    padding: 1rem;
  }
}

@media (min-width: $screen-sm-min + 1) and (max-width: $screen-md-min) {
  .one-third {
    width: 48%;
  }

  .itinerary__header + p {
    margin-bottom: 0;
  }

  .faq__block {
    height: 400px;
    padding: 1rem;
  }

  .faq__image {
    height: 200px;
  }
}

@media (min-width: $screen-sm-min + 1) {
  .reminders__header {
    font-size: 3em;
    padding: 0 1.5em;
  }

  .reminders__subheader {
    font-size: 2em;
    margin-bottom: -4rem;
  }

  .coming-soon-img {
    max-width: 400px;
  }
}

@media (min-width: $screen-md-min + 1) {
  .main-nav {
    ul {
      position: absolute;
      top: 0.5rem;
      right: 2rem;
    }
  }

  .lightbox__modal {
    width: 800px;
  }

  .lb-image {
    // margin-top: 7rem;
    // margin-left: -1rem;
    display: block;
  }

  .reminders__subheader {

  }
}
.about__video--container {
    overflow: hidden;
    max-width: 800px;
    max-height: 450px;
    margin: auto;
    padding: 1rem;
}

.about__video {
    position: relative;
    padding-top: 56.25%;
    margin: 0 auto;

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}