@charset "utf-8";

@font-face {font-family: 'MuseoSlab-500';src: url('/assets/2D2C3F_0_0.eot');src: url('/assets/2D2C3F_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/2D2C3F_0_0.woff2') format('woff2'),url('/assets/2D2C3F_0_0.woff') format('woff'),url('/assets/2D2C3F_0_0.ttf') format('truetype');}

$ptsans: 'PT Sans', sans-serif;
$museoSlab: 'MuseoSlab-500', sans-serif;

$black: #231f20;
// $orange: #ef4825;
$orange: #f98e3e;
$lightorange: #f7931e;
$brown: #a67c52;
$darkbrown: #603913;
$yellow: #f6c767;
$flesh: #fddfbc;

$darkpurple: #af2f5e;
$purple: #b2bbdc;
$bluegreen: #227d76;

$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1200px;

$primary-color: $orange;
$secondary-color: $bluegreen;

$about-info-bg-color: $darkpurple;

// FAQ Colors
$faqbg: white;
$faq1: $darkpurple;
$faq2: #9bdfce;
$faq3: $orange;
$faq4: $bluegreen;
$faq5: $yellow;


*,*:after,*:before {
    box-sizing: border-box;
}

body {
    font-size: 100%;
    line-height: 1.8;
    font-family: $ptsans;
}

img { max-width: 100%; }

@import 'landing';
@import 'grid';
@import 'about';
@import 'about-info';
@import 'faq';
@import 'contact';

h1 {
    font-family: $museoSlab;
}

$navPos1st: 0;
$navPos2nd: 105px;
$navPos3rd: 235px;
$navPos4th: 345px;
$navPos5th: 445px;

.underline.underline.underline {
    .about & { left: $navPos1st; }
    .itinerary & { left: $navPos2nd; }
    .reminders & { left: $navPos3rd; }
    .faq & { left: $navPos4th; }
    .contact & { left: $navPos5th; }
}

.main-nav {
    width: 100%;
    background-color: $black;
    padding: 1rem;
    position: relative;
    overflow: auto;
    height: 80px;
    font-family: $museoSlab;

    .underline {
        background-image: image-url('link-underline.png');
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        display: block;
        width: 100px;
        height: 14px;
        position: absolute;
        left: 0;
    }

    a {
        text-decoration: none;
        color: white;
        padding: 1rem;
        text-transform: uppercase;
        letter-spacing: 0.01em;
    }

    li {
        display: inline-block;
        vertical-align: top;
        transition: left ease-in-out 0.1s;
        transform: translate3d(0,0,0);
    }

    ul {
        padding: 0;
        list-style: none;
    }
}

#aboutL:hover ~ .underline { left: $navPos1st; }
#itineraryL:hover ~ .underline { left: $navPos2nd; }
#remindersL:hover ~ .underline { left: $navPos3rd; }
#faqL:hover ~ .underline { left: $navPos4th; }
#contactL:hover ~ .underline { left: $navPos5th; }

.logo {
    text-indent: -9999px;
    display: block;
    overflow: hidden;
    background-image: image-url('me-eo-logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    max-width: 280px;
}

.itinerary {
    background-color: $purple;
}


.itinerary__row {
    margin: auto;
    overflow: hidden;
    background-color: white;
    width: 100%;
    padding: 3%;
    margin-bottom: 2rem;

    .itinerary__inner-row {
        padding: 3%;
        border: 5px dotted $darkpurple;

        img { padding: 1rem; }

        .block {
            vertical-align: middle;
        }

        .two-thirds {
            text-align: right;
            @media (max-width: $screen-md-min) {
                text-align: center;
            }
        }
    }

    h1,h2,em,strong { color: $darkpurple; }

    h1 {
        margin-bottom: 0.5rem;
        font-family: $ptsans;
        line-height: 1;
    }
    h2 {
        margin-top: 0;
        font-weight: normal;
        font-size: 2rem;
        line-height: 1.1;
    }
}


.itinerary__header,
.reminders__header,
.registration__header {
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 1.5rem;
    padding-top: 0.6rem;
    margin-top: 0;
    text-transform: uppercase;
    font-size: 0.1px;
    letter-spacing: 0.01em;
    line-height: 3;

    // Hide text, set height
    overflow: hidden;
    text-indent: -9999px;
    color: transparent;
    margin-left: auto;
    margin-right: auto;
    height: 100px;

    & + p {
        font-size: 2rem;
    }
}

.itinerary__container,
.reminders__container,
.contact__container {
    text-align: center;
    padding: 2rem;
}

.itinerary__block {
    text-align: center;
}

.itinerary__copy {
    font-size: 1.4em;
    color: white;
    margin-top: 1rem;

    span {
        display: block;
        margin-bottom: -.25em;
    }

    .day {
        font-weight: bold;
        color: $darkbrown;
        text-transform: uppercase;
        margin-bottom: 0;
    }
}

.itinerary__header { background-image: image-url('itinerary/header-bg-2016.jpg'); }
.reminders__header { background-image: image-url('reminders-header.jpg'); }
.registration__header { background-image: image-url('register-header.jpg'); }

.reminders__subheader {
    position: relative;
    z-index: 2;
    display: block;
}

.coming-soon-img {
    position: relative;
    z-index: 1;
    display: block;
    margin: 0 auto;
}

.icon {
    padding: 0 0.5rem;
}

.error {
    background-color: $orange;
    margin: 0 0 0.5rem 0;
    padding: 0 0.5rem;
}

ul.item-list {
    list-style: disc;
    padding-left: 1rem;
    li.item {
        background-color: white;
        color: $black;
        margin-bottom: 0;
        padding: 0;
        text-transform: capitalize;
        &:before {
            content: '•';
            margin-right: 0.5rem;
            display: inline-block;
        }
    }
}

@import 'responsive';